# Chickenpox cases in Hungary from 2006 to 2014

In [1]:
# Q.1 WRITE A CODE TO READ HUNGARY_CHICKENPOX_DATA.CSV .

# Q.2 WRITE A CODE TO DISPLAY FIRST 20 RECORDS OF THE GIVEN DATASET .

# Q.3 WRITE A CODE TO DISPLAY LAST 10 RECORDS OF THE DATASET  .

# Q.4 WRITE A CODE TO CHECK THE SHAPE , DIMENSION , TOTAL NO. OF RECORDS COLUMNS AND INDEXES OF THE GIVEN DATASET .

# Q.5 WRITE A CODE TO SAVE FIRST 20 RECORDS OF THE GIVEN DATASET IN A NEW CSV FILE .

# Q.6 WRITE A CODE TO CALCULATE THE SUM OF EACH COUNTRIES AND TO STORE THAT SUM IN ANOTHER CSV FILE .

# Q.7 USING THE CREATED CSV FILE WHERE THE SUM OF ALL CASES IS STORED TO CREATE A BAR GRAPH .

# 1

In [5]:
import pandas as pd
a=pd.read_csv('hungary_chickenpox_data.csv')
print(a)

           Date  BUDAPEST  BARANYA  BACS  BEKES  BORSOD  CSONGRAD  FEJER  \
0     3/01/2005       168       79    30    173     169        42    136
1    10/01/2005       157       60    30     92     200        53     51
2    17/01/2005        96       44    31     86      93        30     93
3    24/01/2005       163       49    43    126      46        39     52
4    31/01/2005       122       78    53     87     103        34     95
..          ...       ...      ...   ...    ...     ...       ...    ...
517   1/12/2014        95       12    41      6      39         0     16
518   8/12/2014        43       39    31     10      34         3      2
519  15/12/2014        35        7    15      0       0         0      7
520  22/12/2014        30       23     8      0      11         4      1
521  29/12/2014       259       42    49     32      38        15     11

     GYOR  HAJDU  ...  JASZ  KOMAROM  NOGRAD  PEST  SOMOGY  SZABOLCS  TOLNA  \
0     120    162  ...   130       57       2   178      66        64     11
1      70     84  ...    80       50      29   141      48        29     58
2      84    191  ...    64       46       4   157      33        33     24
3     114    107  ...    63       54      14   107      66        50     25
4     131    172  ...    61       49      11   124      63        56      7
..    ...    ...  ...   ...      ...     ...   ...     ...       ...    ...
517    15     14  ...    56        7      13   122       4        23      4
518    30     25  ...    34       20      18    70      36         5     23
519     7      4  ...    30       36       4    72       5        21     14
520     9     10  ...    27       17      21    12       5        17      1
521    98     61  ...   112       61      53   256      45        39     27

     VAS  VESZPREM  ZALA
0     29        87    68
1     53        68    26
2     18        62    44
3     21        43    31
4     47        85    60
..   ...       ...   ...
517   11       110    10
518   22        63     9
519    0        17    10
520    1        83     2
521   11       103    25

[522 rows x 21 columns]

# 2

In [11]:
df = pd.DataFrame(a)
b=df.head(20)
print(b)

          Date  BUDAPEST  BARANYA  BACS  BEKES  BORSOD  CSONGRAD  FEJER  GYOR  \
0    3/01/2005       168       79    30    173     169        42    136   120
1   10/01/2005       157       60    30     92     200        53     51    70
2   17/01/2005        96       44    31     86      93        30     93    84
3   24/01/2005       163       49    43    126      46        39     52   114
4   31/01/2005       122       78    53     87     103        34     95   131
5    7/02/2005       174       76    77    152     189        26     74   181
6   14/02/2005       153      103    54    192     148        65    100   118
7   21/02/2005       115       74    64    174     140        56    111   175
8   28/02/2005       119       86    57    171      90        65    118   105
9    7/03/2005       114       81   129    217     167        64     93   154
10  14/03/2005       127       59    81    243      99        81     72   107
11  21/03/2005       135       74    51    271     215        48    115   148
12  28/03/2005       116       63    98    119      51        48     51    92
13   4/04/2005       132       83    59    130     152        54     78   128
14  11/04/2005       129       53    84    111     103        41     58    91
15  18/04/2005       113       74    62    101      84        66     83   111
16  25/04/2005       114       50   120    126     111        48     77   119
17   2/05/2005        98       66    81     86      48        40     59   131
18   9/05/2005       140       81   103    116     129        51     89   146
19  16/05/2005       120       46    86     94     135        25     93   123

    HAJDU  ...  JASZ  KOMAROM  NOGRAD  PEST  SOMOGY  SZABOLCS  TOLNA  VAS  \
0     162  ...   130       57       2   178      66        64     11   29
1      84  ...    80       50      29   141      48        29     58   53
2     191  ...    64       46       4   157      33        33     24   18
3     107  ...    63       54      14   107      66        50     25   21
4     172  ...    61       49      11   124      63        56      7   47
5     157  ...    95       97      26   146      59        54     27   54
6     129  ...    88       56      10   119     104        85     20   32
7     138  ...   112       70      21   178      70        75      5   66
8     194  ...    67       46      12   112     116        76     22   45
9     119  ...   118       73       6   130      68        59     31   85
10    117  ...    72       91       9   113      62        22     26   19
11    171  ...   114       82      10   141      55        45     23   83
12     76  ...    82       72      25   162      49       203     40   47
13    207  ...   138       66       6   121      41        92      8   52
14    123  ...    91       51      26   144      50        41     25   64
15    134  ...   124       63       7   125      55        49     13   46
16    157  ...   141       59      26   138      57        41      6   98
17    111  ...    97       64      27    83      42        29      2   42
18     65  ...   224      124      22   159      66        57     15  111
19     99  ...    97       83      52   153      42        36     28   56

    VESZPREM  ZALA
0         87    68
1         68    26
2         62    44
3         43    31
4         85    60
5         48    60
6        153    70
7        149    54
8        102    42
9         96    54
10       118    43
11       127    36
12        63    36
13       108    38
14        59    30
15        87    22
16        64    23
17        39    32
18        76    47
19        44    21

[20 rows x 21 columns]

# 3

In [12]:
c=df.tail(10)
print(c)

           Date  BUDAPEST  BARANYA  BACS  BEKES  BORSOD  CSONGRAD  FEJER  \
512  27/10/2014        28        7     1      2      13         2     13
513   3/11/2014        44        4     7      0      16         0     18
514  10/11/2014        33        5    10      0      29         3     20
515  17/11/2014        85       15    26      7      14         3     28
516  24/11/2014        16       15    14      2       3         0      9
517   1/12/2014        95       12    41      6      39         0     16
518   8/12/2014        43       39    31     10      34         3      2
519  15/12/2014        35        7    15      0       0         0      7
520  22/12/2014        30       23     8      0      11         4      1
521  29/12/2014       259       42    49     32      38        15     11

     GYOR  HAJDU  ...  JASZ  KOMAROM  NOGRAD  PEST  SOMOGY  SZABOLCS  TOLNA  \
512    11      3  ...    11        3       6    32      16         7     21
513    11     11  ...    11        1       5    46      28        28      4
514     7      3  ...    14       10       6    87       5        15      4
515    13      9  ...    14        8      25    33      28         7     25
516    23      6  ...    24        2       9    25      16         0      9
517    15     14  ...    56        7      13   122       4        23      4
518    30     25  ...    34       20      18    70      36         5     23
519     7      4  ...    30       36       4    72       5        21     14
520     9     10  ...    27       17      21    12       5        17      1
521    98     61  ...   112       61      53   256      45        39     27

     VAS  VESZPREM  ZALA
512    0        34    10
513    0        30     7
514   31        21     1
515   23        24     4
516    3        25     0
517   11       110    10
518   22        63     9
519    0        17    10
520    1        83     2
521   11       103    25

[10 rows x 21 columns]

# 4

In [9]:
e=a.shape()
print(e)

TypeError: 'tuple' object is not callable