# DATAFRAME ASSIGNMENT

## Q1

## (i)

In [11]:
import pandas as pd
A=[{"Name":"Virat Kohli","No. of matches":248,"Average Score":24},
   {"Name":"M.S Dhoni","No. of matches":212,"Average Score":27},
   {"Name":"Shreyas Iyer","No. of matches":220,"Average Score":12},
   {"Name":"Rishabh Pant","No. of matches":245,"Average Score":23},
   {"Name":"Suryakumar Yadav","No. of matches":240,"Average Score":30}]
CricketPlayers=pd.DataFrame(A)
print(CricketPlayers)

               Name  No. of matches  Average Score
0       Virat Kohli             248             24
1         M.S Dhoni             212             27
2      Shreyas Iyer             220             12
3      Rishabh Pant             245             23
4  Suryakumar Yadav             240             30

## (ii)

In [13]:
import pandas as pd
A=[{"Name":"Britania Cookies","Cost Price":248,"Sales Price":250,"Discount":12},
   {"Name":"Lays","Cost Price":212,"Sales Price":270,"Discount":12},
   {"Name":"Dairy Milk","Cost Price":220,"Sales Price":300,"Discount":12},
   {"Name":"Coca Cola","Cost Price":245,"Sales Price":280,"Discount":12},
   {"Name":"Center Fruit","Cost Price":240,"Sales Price":300,"Discount":12}]
Items=pd.DataFrame(A)
print(Items)

               Name  Cost Price  Sales Price  Discount
0  Britania Cookies         248          250        12
1              Lays         212          270        12
2        Dairy Milk         220          300        12
3         Coca Cola         245          280        12
4      Center Fruit         240          300        12