# DATA HANDLING WITH PANDAS

## 1. Creating Empty Series

In [1]:

import pandas as pd
import numpy as np
A=np.array([])                                                        #EMPTY SERIES#
K=pd.Series(A)
print(K)
K.to_csv('ABC.csv')

Series([], dtype: float64)

## 2. Creating Series using list and changing index

In [2]:

import pandas as pd
import numpy as np
A=np.array([1,2,3,4,5])                                             #SERIES FROM LIST#
G=pd.Series(A,index=['a','r','y','a','n'])
print(G)
K.to_csv('DEF.csv')

a    1
r    2
y    3
a    4
n    5
dtype: int64

## 3. Creating Series using Dictionaries

In [3]:

import pandas as pd
import numpy as np                                               #SERIES FROM DICTIONARY#
A={1:'Aryan',2:'Annany',3:'Ishita',4:'Kritika'}
T=pd.Series(A)
print(T)

1      Aryan
2     Annany
3     Ishita
4    Kritika
dtype: object

## 4. Creating Series Directly

In [4]:
import pandas as pd 
S=pd.Series([1,2,3,4],index=['n','o','n','u'])
print(S)

n    1
o    2
n    3
u    4
dtype: int64

## 5. Query regarding series and indexing

In [5]:
import pandas as pd
A=pd.Series(['a','b','c','4'])
print(A,A.index)

0    a
1    b
2    c
3    4
dtype: object RangeIndex(start=0, stop=4, step=1)

## 6. Using hasNan

In [6]:
import pandas as pd
import numpy as np 
A=pd.Series([1,2,3,4,5,None],dtype=np.object)
print(A)
print('Checking HasNan :',A.hasnans)

0       1
1       2
2       3
3       4
4       5
5    None
dtype: object
Checking HasNan : True

/tmp/ipykernel_2706/2347842654.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  A=pd.Series([1,2,3,4,5,None],dtype=np.object)

## 7. Using Head Function

In [7]:
import pandas as pd
A=['Aryan','Bhavesh','Annany','Rajesh Sir']
R=[1,2,3,4]
S=pd.Series(R,index=A)
D=S.head(2)
print(D)    # IT SHOWS FIRST 2 ELEMENTS

Aryan      1
Bhavesh    2
dtype: int64

## 8. Using Tail Function

In [8]:
import pandas as pd
A=['Aryan','Bhavesh','Annany','Rajesh Sir']
R=[1,2,3,4]
S=pd.Series(R,index=A)
D=S.tail(2)
print(D)    # IT SHOWS LAST 2 ELEMENTS

Annany        3
Rajesh Sir    4
dtype: int64

## 9. Using Count Function

In [9]:
import pandas as pd
A=['Aryan','Bhavesh','Annany','Rajesh Sir']
S=pd.Series(A)
print("TOTAL NO. OF ELEMENTS IN A =",S.count())

TOTAL NO. OF ELEMENTS IN A = 4

## 10. Using sum funtion

In [10]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("SUM OF ELEMENTS IN A =",S.sum())

SUM OF ELEMENTS IN A = 55

## 11. Finding Maximum value

In [11]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("Maximum value in A =",S.max())

Maximum value in A = 10

## 12. Finding Minimum value

In [12]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("Minimum value in A =",S.min())

Minimum value in A = 1

## 13. Finding Product of Series

In [13]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("Product of elements in A =",S.prod())

Product of elements in A = 3628800

## 14. Finding Mean of Series

In [14]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("Mean of elements in A =",S.mean())

Mean of elements in A = 5.5

## 15. Sorting Values Ascending

In [15]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("A in ascending order = \n",S.sort_values())

A in ascending order =
 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## 16. Sorting Values Descending

In [16]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("A in descending order = \n",S.sort_values(ascending=False))

A in descending order =
 9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

## 17. Sorting Index Ascending

In [17]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("A in ascending order = \n",S.sort_index())

A in ascending order =
 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## 18. Sorting Index Descending

In [18]:
import pandas as pd
A=[1,2,3,4,5,6,7,8,9,10]
S=pd.Series(A)
print("A in descending order = \n",S.sort_index(ascending=False))

A in descending order =
 9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64