# Pandas Assignment

## Q1:Cretae the following series:
   ## 1.Eng DICTIONARY containing 10 words & their meanings . Make words index and their meaning corresponding values

In [3]:
import pandas as pd
A={"Aryan":"Supreme","Bhavesh":"Avatar of God Vishnu","Annany":"Unique","Vihaan":"Dawn","Ishita":"Peace","IP":"Study of programmes and softwares","One Plus":"Never Settle","SHM":"Simple Harmonic Motion","Mahadev":"God of the Gods","CSE":"Computer Science Engineering"}
B=pd.Series(A)
print(B)

Aryan                                 Supreme
Bhavesh                  Avatar of God Vishnu
Annany                                 Unique
Vihaan                                   Dawn
Ishita                                  Peace
IP          Study of programmes and softwares
One Plus                         Never Settle
SHM                    Simple Harmonic Motion
Mahadev                       God of the Gods
CSE              Computer Science Engineering
dtype: object

## 2.State and Language Dictionary to Series

In [4]:
import pandas as pd
S={"J&K":"Kashmiri","HP":"Pahadi","PUN":"Punjabi","HR":"Haryanvi","UK":"Pahadi","RJ":"Rajasthani","UP":"Bhojpuri","BH":"Bihari","MH":"Marathi","KA":"Kannad","TN":"Tamil"}
K=pd.Series(S)
print(K)

J&K      Kashmiri
HP         Pahadi
PUN       Punjabi
HR       Haryanvi
UK         Pahadi
RJ     Rajasthani
UP       Bhojpuri
BH         Bihari
MH        Marathi
KA         Kannad
TN          Tamil
dtype: object

## 3.Mobile Generation from a dictionary containing Mobile Generation as indexes and key features as corresponding values.

In [2]:
import pandas as pd
S={"1G":" Wireless Calling","2G":"Calling + SMS","3G":"Calling+SMS+Android 5","4G":"Calling+SMS+Android 10+video calls","5G":"Calling+SMS+Android 12+Video Calls+Wireless Charging"}
K=pd.Series(S)
print(K)

1G                                     Wireless Calling
2G                                        Calling + SMS
3G                                Calling+SMS+Android 5
4G                   Calling+SMS+Android 10+video calls
5G    Calling+SMS+Android 12+Video Calls+Wireless Ch...
dtype: object

## 4.Roll no. Student array in series

In [9]:
import numpy as np
import pandas as pd
b=np.array(["Aryan","Bhavesh","Vansh","Vedant","Annany"])
c=pd.Series(b,index=[1,2,3,4,5])
print(c)

1      Aryan
2    Bhavesh
3      Vansh
4     Vedant
5     Annany
dtype: object

## 5.Marks Student from a scaler value 50 for 10 students

In [11]:
import numpy as np
import pandas as pd
b=pd.Series(np.full([10],50),index=[1,2,3,4,5,6,7,8,9,10])
print(b)

1     50
2     50
3     50
4     50
5     50
6     50
7     50
8     50
9     50
10    50
dtype: int64

## 6.Storing even numbers from 1 to 20 with default indexes

In [16]:
import pandas as pd
import numpy as np
a=pd.Series(np.arange(0,21,2))
print(a)

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
dtype: int64

## 7.Storing following percentage of 5 students stored in the form of a list with indexes from 1 to 5
##                                             [90,85,78.5,90.5,56.5]

In [19]:
import pandas as pd
a=[90,85,78.5,90.5,56.5]
c=pd.Series(a,index=[1,2,3,4,5])
print(c)

1    90.0
2    85.0
3    78.5
4    90.5
5    56.5
dtype: float64