# Pandas Library Examples (Series)

In [1]:
# creating series using array method
import pandas as pd
import numpy as np
data = np.array(['W','e','l','c','o','m','e'])
series1 = pd.Series(data)
print(series1)

0    W
1    e
2    l
3    c
4    o
5    m
6    e
dtype: object

In [2]:
#Creating a series from array with customized index values
import pandas as pd
import numpy as np
data = np.array([10,20,30,40])
series1 = pd.Series(data, index = ["A","B",'C','D'])
print(series1)

A    10
B    20
C    30
D    40
dtype: int32

In [3]:
#create a series form list
import pandas as pd
list = ['R','A','M','A','N']
series2 = pd.Series(list)
print(series2)

0    R
1    A
2    M
3    A
4    N
dtype: object

In [4]:
# Creating Series by using Dictionary
import pandas as pd
dict = {'Rashi':100000, 'Pranav': 30000, 'pranjal':20000,'Rijul':50000}
print(dict)
print(type(dict))
series3 = pd.Series(dict)
print(series3)

{'Rashi': 100000, 'Pranav': 30000, 'pranjal': 20000, 'Rijul': 50000}
<class 'dict'>
Rashi      100000
Pranav      30000
pranjal     20000
Rijul       50000
dtype: int64

In [5]:
#Creating series by using scalar values
import pandas as pd
series4 = pd.Series(40,index=[0,1,2,4,5,6])
print(series4)
series5 = pd.Series(['R','a','s','h','i'],index=range(5,10))
print(series5)

0    40
1    40
2    40
4    40
5    40
6    40
dtype: int64
5    R
6    a
7    s
8    h
9    i
dtype: object

In [6]:
wages = pd.Series  ([500,450,400,550,600],index=['A','B','C','D','E'])

# Attributes of Series

In [7]:
print("Index of series",wages.index) #GETS THE INDEX OF SERIES
print("Shape of series", wages.shape) # Returns tuple shape
print("Data type of the data", wages.dtype)
print("No of columns or size of the data", wages.size)
print("returns boolenan true/false: ", wages.hasnans)
print("Number of dimensions", wages.ndim)
print("Returns boolean", wages.is_unique)
print("Retuns values", wages.values)
print("retuns index element", wages.iloc[1])
print("Returns the index values according the label", wages.loc['B'])

Index of series Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
Shape of series (5,)
Data type of the data int64
No of columns or size of the data 5
returns boolenan true/false:  False
Number of dimensions 1
Returns boolean True
Retuns values [500 450 400 550 600]
retuns index element 450
Returns the index values according the label 450

In [8]:
# Positional Indexing
import pandas as pd
import numpy as np
data = np.array([5400,2500,7634,8725])
# providing an index
ser = pd.Series(data, index =['North', 'East', 'South', 'West'])
print(ser[2])

7634

In [9]:
# Label Indexing
import pandas as pd
import numpy as np
data = np.array([5400,2500,7634,8725])
# providing an index
ser = pd.Series(data, index =['North', 'East', 'South', 'West'])
print(ser['North'])

5400

# Boolean Indexing

In [10]:
s1=[2,5,9,12,34,56]
import pandas as pd
ser1=pd.Series(s1)
print(ser1>10)
print(ser1[ser1>10])
print(ser1[~(ser1>10)])       #logical Operator NOT~
print(ser1[(ser1>10) & (ser1<30)])  #Logical Operator and

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool
3    12
4    34
5    56
dtype: int64
0    2
1    5
2    9
dtype: int64
3    12
dtype: int64

In [11]:
# Position Slicing 
import pandas as pd
s = ["Eng","Science","Math"]
g = [30,40,50]
ser = pd.Series(g, index = s)
print(ser[0:2])

Eng        30
Science    40
dtype: int64

In [12]:
#Label Slicing
import pandas as pd
s = ["Eng","Science","Math"]
g = [30,40,50]
ser = pd.Series(g, index = s)
print(ser)

Eng        30
Science    40
Math       50
dtype: int64

In [13]:
# Modifying the value using slicing and indexing
import pandas as pd
subject=['French','English','Maths','Geography','Science']
#list of subjects
boys= [50,60,70,78,80]
series2 = pd.Series(boys,index=subject)
series2['English':'Maths']=90   #slicing
series2[4]=100                #Indexing
print(series2)

French        50
English       90
Maths         90
Geography     78
Science      100
dtype: int64

In [14]:
# Using Head and Tail Method
import pandas as pd
sub=['Eng','Maths','Physics','Chem','Accounts','IP','cs','bs','h','bio']
marks = [50,68,78,90,96,98,60,80,90,98]
s = pd.Series(marks, index = sub)
d = s.head(5)
d1 = s.tail(3)
print(d)
print(d1)
print("First five rows",d.head(2))
print("Last five Rows", d1.tail(1))
print("Number of values in series S", s.count())
print("Number of values in series d1:", d1.count())
print("Sum of the values", d1.sum())

Eng         50
Maths       68
Physics     78
Chem        90
Accounts    96
dtype: int64
bs     80
h      90
bio    98
dtype: int64
First five rows Eng      50
Maths    68
dtype: int64
Last five Rows bio    98
dtype: int64
Number of values in series S 10
Number of values in series d1: 3
Sum of the values 268

In [30]:
import pandas as pd
import numpy as np
a = np.random.randint(100,1000,20)
print(a)
ser = pd.Series(a)
ser[10:15]= None
print("Product of Series:",ser.prod())
b = ser.head(15)
print(b)

[523 669 735 984 990 354 144 638 932 162 201 108 921 835 662 620 636 226
 223 401]
Product of Series: 9.803231950843605e+39
0     523.0
1     669.0
2     735.0
3     984.0
4     990.0
5     354.0
6     144.0
7     638.0
8     932.0
9     162.0
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
dtype: float64

In [39]:
b[1:3]=None
b[10:14] = 50
print("Mean Value",b.mean())  # Mean Value
print("Maximum value", b.max())
print("Minimum value", b.min())
print("Asecending order", b.sort_values())
print("Descending order", b.sort_values(ascending = False))

Mean Value 410.5833333333333
Maximum value 990.0
Minimum value 50.0
Asecending order 10     50.0
11     50.0
12     50.0
13     50.0
6     144.0
9     162.0
5     354.0
0     523.0
7     638.0
8     932.0
3     984.0
4     990.0
1       NaN
2       NaN
14      NaN
dtype: float64
Descending order 4     990.0
3     984.0
8     932.0
7     638.0
0     523.0
5     354.0
9     162.0
6     144.0
10     50.0
11     50.0
12     50.0
13     50.0
1       NaN
2       NaN
14      NaN
dtype: float64

In [40]:
b.isnull()

0     False
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
dtype: bool

In [9]:
import pandas as PD
ser1 = PD.Series([10,20,30,40,50],index=['a','b','c','d','e'])
ser2 = PD.Series([60,20,50,40,70],index=['a','f','d','e','g'])
c = ser1+ser2
print(ser1.add(ser2,fill_value = 10))

a    70.0
b    30.0
c    40.0
d    90.0
e    90.0
f    30.0
g    80.0
dtype: float64

In [10]:
import pandas as PD
ser1 = PD.Series([10,20,30,40,50],index=['a','b','c','d','e'])
ser2 = PD.Series([60,20,50,40,70],index=['a','f','d','e','g'])
c = ser1-ser2
print(ser1.sub(ser2,fill_value = 10))

a   -50.0
b    10.0
c    20.0
d   -10.0
e    10.0
f   -10.0
g   -60.0
dtype: float64

In [14]:
import pandas as PD
ser1 = PD.Series([10,20,30,40,50],index=['a','b','c','d','e'])
ser2 = PD.Series([60,20,50,40,70],index=['a','f','d','e','g'])
print(ser1.mul(ser2,fill_value = 10))

a     600.0
b     200.0
c     300.0
d    2000.0
e    2000.0
f     200.0
g     700.0
dtype: float64

In [12]:
import pandas as PD
ser1 = PD.Series([10,20,30,40,50],index=['a','b','c','d','e'])
ser2 = PD.Series([60,20,50,40,70],index=['a','f','d','e','g'])
print(ser1.div(ser2,fill_value = 10))

a    0.166667
b    2.000000
c    3.000000
d    0.800000
e    1.250000
f    0.500000
g    0.142857
dtype: float64