# Examples or Demonstration of DataFrame by using Pandas

In [6]:
str = input("Enter any name:-")
#def reverse_string(str):  
   # str = ""   # Declaring empty string to store the reversed string  
str1 = ""
for i in str:  
    str1 = i + str1 

#str = "JavaTpoint"    # Given String       
print("The original string is: ",str)  
print("The reverse string is",str1) # Function call

Enter any name:-Rajesh
The original string is:  Rajesh
The reverse string is hsejaR

In [1]:
# Creating Empty DataFrame
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [17]:
num = int(input("Enter a number:-"))
total = 1
for i in range(2,num//2+1):
    if (num%i)== 0:
        total+=i
    if total==num:
        print("perfect Number:")
    else:
        print("not perfect")

Enter a number:-6
not perfect
perfect Number:

In [2]:
# Creating DataFrame from the List of Dictionaries
import pandas as pd
list1 = [{101:'Ansh',102:'Monnal',103:'Devansh'},{102:'Rashi',103:'Pranjal'},
         {101:'Raman',102:'Sujal'}, {101:'Vanshika',102:'Akshit',103:'Rdihi'}]
print(list1)
df1 = pd.DataFrame(list1)
print(df1)

[{101: 'Ansh', 102: 'Monnal', 103: 'Devansh'}, {102: 'Rashi', 103: 'Pranjal'}, {101: 'Raman', 102: 'Sujal'}, {101: 'Vanshika', 102: 'Akshit', 103: 'Rdihi'}]
        101     102      103
0      Ansh  Monnal  Devansh
1       NaN   Rashi  Pranjal
2     Raman   Sujal      NaN
3  Vanshika  Akshit    Rdihi

In [18]:
num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

Enter a number: 41
41 is a prime number

In [3]:
#Creating Dataframe from list of list

import pandas as pd
a = [[1,"Amit"],[2,'Rijul'],[3,'Sujal'],[4,'Akshit']]
print(a)
b = pd.DataFrame(a)
print(b)

[[1, 'Amit'], [2, 'Rijul'], [3, 'Sujal'], [4, 'Akshit']]
   0       1
0  1    Amit
1  2   Rijul
2  3   Sujal
3  4  Akshit

In [4]:
# Create datframe from dictionary  of list
import pandas as pd
d1 = {'rollno':[1,2,3], 'Name':['Raman','Ansh','Sujal']}
df = pd.DataFrame(d1)
print(df)

   rollno   Name
0       1  Raman
1       2   Ansh
2       3  Sujal

In [5]:
#Creating a DataFrame Dictionary of Series
import pandas as pd
marksheet = {'Arnab': pd.Series([90,91,92,94], index = ['Eng','Maths','IP','Science']),
              'Ramit': pd.Series([78,65,79,97], index = ['Eng','Maths','IP','Science']),
              'Ayam' : pd.Series([87,88,89,87], index = ['Eng','Maths','IP','Science'])}
rdf = pd.DataFrame(marksheet)
print(rdf)

         Arnab  Ramit  Ayam
Eng         90     78    87
Maths       91     65    88
IP          92     79    89
Science     94     97    87

In [6]:
import pandas as pd
data1 = pd.read_csv('iris_data_sample.csv')
df4 = pd.DataFrame(data1, columns=['SepalLength','SepalWidthCm','PetalLengthCm','PetalWidthCm'])
df5 = df4.head(60)
df6 = df4.tail(60)
print(df5)
print(df6)

    SepalLength  SepalWidthCm PetalLengthCm  PetalWidthCm
0           NaN           3.5           1.4           0.2
1           NaN           NaN           1.4           0.2
2           NaN           3.2           1.3           0.2
3           NaN           3.1           1.5           0.2
4           NaN           3.6           ###           0.2
5           NaN           3.9           NaN           0.4
6           NaN           3.4           1.4           0.3
7           NaN           3.4           1.5           0.2
8           NaN           2.9           1.4           0.2
9           NaN           3.1           1.5           0.1
10          NaN           3.7           1.5           0.2
11          NaN           3.4           1.6           0.2
12          NaN           3.0           1.4           0.1
13          NaN           3.0           1.1           0.1
14          NaN           4.0           1.2           0.2
15          NaN           4.4           1.5           0.4
16          NaN           3.9           1.3           0.4
17          NaN           3.5           1.4           0.3
18          NaN           3.8           1.7           0.3
19          NaN           3.8           1.5           0.3
20          NaN           3.4           1.7           0.2
21          NaN           3.7           1.5           0.4
22          NaN           3.6             1           0.2
23          NaN           3.3           1.7           0.5
24          NaN           3.4           1.9           0.2
25          NaN           3.0           1.6           0.2
26          NaN           3.4           1.6           0.4
27          NaN           3.5           1.5           0.2
28          NaN           3.4           1.4           0.2
29          NaN           3.2           1.6           0.2
30          NaN           3.1           1.6           0.2
31          NaN           3.4           1.5           0.4
32          NaN           4.1           1.5           0.1
33          NaN           4.2           1.4           0.2
34          NaN           3.1           1.5           0.1
35          NaN           3.2           1.2           0.2
36          NaN           3.5           1.3           0.2
37          NaN           3.1           1.5           0.1
38          NaN           3.0           1.3           0.2
39          NaN           3.4           1.5           0.2
40          NaN           3.5           1.3           0.3
41          NaN           2.3           1.3           0.3
42          NaN           3.2           1.3           0.2
43          NaN           3.5           1.6           0.6
44          NaN           3.8           1.9           0.4
45          NaN           3.0           1.4           0.3
46          NaN           3.8           1.6           0.2
47          NaN           3.2           1.4           0.2
48          NaN           3.7           1.5           0.2
49          NaN           3.3           1.4           0.2
50          NaN           3.2           4.7           1.4
51          NaN           3.2           4.5           1.5
52          NaN           3.1           4.9           1.5
53          NaN           2.3             4           1.3
54          NaN           2.8           4.6           1.5
55          NaN           2.8           4.5           1.3
56          NaN           3.3           4.7           1.6
57          NaN           2.4           3.3           1.0
58          NaN           2.9           4.6           1.3
59          NaN           2.7           3.9           1.4
     SepalLength  SepalWidthCm PetalLengthCm  PetalWidthCm
90           NaN           2.6           4.4           1.2
91           NaN           3.0           4.6           1.4
92           NaN           2.6             4           1.2
93           NaN           2.3           3.3           1.0
94           NaN           2.7           4.2           1.3
95           NaN           3.0           4.2           1.2
96           NaN           2.9           4.2           1.3
97           NaN           2.9           4.3           1.3
98           NaN           2.5             3           1.1
99           NaN           2.8           4.1           1.3
100          NaN           3.3             6           2.5
101          NaN           2.7           5.1           1.9
102          NaN           3.0           5.9           2.1
103          NaN           2.9           5.6           1.8
104          NaN           3.0           5.8           2.2
105          NaN           3.0           6.6           2.1
106          NaN           2.5           4.5           1.7
107          NaN           2.9           6.3           1.8
108          NaN           2.5           5.8           1.8
109          NaN           3.6           6.1           2.5
110          NaN           3.2           5.1           2.0
111          NaN           2.7           5.3           1.9
112          NaN           3.0           5.5           2.1
113          NaN           2.5             5           2.0
114          NaN           2.8           5.1           2.4
115          NaN           3.2           5.3           2.3
116          NaN           3.0           5.5           1.8
117          NaN           3.8           6.7           2.2
118          NaN           2.6           6.9           2.3
119          NaN           2.2             5           1.5
120          NaN           3.2           5.7           2.3
121          NaN           2.8           4.9           2.0
122          NaN           2.8           6.7           2.0
123          NaN           2.7           4.9           1.8
124          NaN           3.3           5.7           2.1
125          NaN           3.2             6           1.8
126          NaN           2.8           4.8           1.8
127          NaN           3.0           4.9           1.8
128          NaN           2.8           5.6           2.1
129          NaN           3.0           5.8           1.6
130          NaN           2.8           6.1           1.9
131          NaN           3.8           6.4           2.0
132          NaN           2.8           5.6           2.2
133          NaN           2.8           5.1           1.5
134          NaN           2.6           5.6           1.4
135          NaN           3.0           6.1           2.3
136          NaN           3.4           5.6           2.4
137          NaN           3.1           5.5           1.8
138          NaN           3.0           4.8           1.8
139          NaN           3.1           5.4           2.1
140          NaN           3.1           5.6           2.4
141          NaN           3.1           5.1           2.3
142          NaN           2.7           5.1           1.9
143          NaN           3.2           5.9           2.3
144          NaN           3.3           5.7           2.5
145          NaN           3.0           5.2           2.3
146          NaN           2.5             5           1.9
147          NaN           3.0           5.2           2.0
148          NaN           3.4           5.4           2.3
149          NaN           3.0           5.1           1.8

In [11]:
#customizing lables using index and columns parameter
import pandas as pd
a = [[1,'Raman'],[2,'Moonal'],[3,'Rashi']]
b = pd.DataFrame(a, index = ['r1','r2','r3'], columns = ['SerialNo','Name'])
print(b)

    RollNo    Name
r1       1   Raman
r2       2  Moonal
r3       3   Rashi

In [12]:
# Data Frames Attributes
import pandas  as pd
data = {'ROllNO':[1,2,3,4,5,6,7],'Name':['Ansh','Vanshika','Yuvraj','Raman','Pranav','Sujal','Pranjal'],
        'Percentage':[90,95,96,92,98,97,96]}
df5 = pd.DataFrame(data, index= [1,2,3,4,5,6,7])
print(df5)
print("Represent no of elements:-",df5.size)
print("Returns tuples representing dimension:-", df5.shape)
print("Returns the no of array dimensons:-", df5.ndim)
print("Retuns list of axes:-", df5.axes)
print("Returns the column labels:-", df5.columns)
print("Returns the numpy representation:-\n", df5.values)
df = pd.DataFrame()
print("Returns boolean values Dataframe empty:-",df5.empty)

   ROllNO      Name  Percentage
1       1      Ansh          90
2       2  Vanshika          95
3       3    Yuvraj          96
4       4     Raman          92
5       5    Pranav          98
6       6     Sujal          97
7       7   Pranjal          96
Represent no of elements:- 21
Returns tuples representing dimension:- (7, 3)
Returns the no of array dimensons:- 2
Retuns list of axes:- [Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64'), Index(['ROllNO', 'Name', 'Percentage'], dtype='object')]
Returns the column labels:- Index(['ROllNO', 'Name', 'Percentage'], dtype='object')
Returns the numpy representation:-
 [[1 'Ansh' 90]
 [2 'Vanshika' 95]
 [3 'Yuvraj' 96]
 [4 'Raman' 92]
 [5 'Pranav' 98]
 [6 'Sujal' 97]
 [7 'Pranjal' 96]]
Returns boolean values Dataframe empty:- False

In [1]:
import pandas as pd
data1 = {'RollNo':[1,2,3,4],'Name':['Arnab','Amit','Raman','Akshit'],
          'Total':[350,400,490,480],'Percentage':[70,80,98,96]}
df6 = pd.DataFrame(data1)
print("Data in Dataframe:\n",df6)
#Adding Columns to Dataframe
df6['Grade']= ['C','B','A','A']
df6['Age']=[14,15,24,16]
print("New Dataframe:\n",df6)

Data in Dataframe:
    RollNo    Name  Total  Percentage
0       1   Arnab    350          70
1       2    Amit    400          80
2       3   Raman    490          98
3       4  Akshit    480          96
New Dataframe:
    RollNo    Name  Total  Percentage Grade  Age
0       1   Arnab    350          70     C   14
1       2    Amit    400          80     B   15
2       3   Raman    490          98     A   24
3       4  Akshit    480          96     A   16

In [3]:
#Add New Column using Mathematical Opeartion
import pandas as pd
bill = {'Itemname':['Pen','Pencil','Eraser'],
        'Quantity':[2,5,7],
         'Price':[10,15,20]}

df = pd.DataFrame(bill)
print(df)
df['Amount'] = df['Quantity']*df['Price']
print(df)

  Itemname  Quantity  Price
0      Pen         2     10
1   Pencil         5     15
2   Eraser         7     20
  Itemname  Quantity  Price  Amount
0      Pen         2     10      20
1   Pencil         5     15      75
2   Eraser         7     20     140

In [6]:
#Add new column at desired position
import pandas as pd
bill = {'Itemname':['Pen','Pencil','Eraser'],
        'Quantity':[2,5,7],
         'Price':[10,15,20]}
df = pd.DataFrame(bill, index = [1,2,3])
df.insert(1,'Amount',[20,30,40])
print(df)

  Itemname  Amount  Quantity  Price
1      Pen      20         2     10
2   Pencil      30         5     15
3   Eraser      40         7     20

In [14]:
#Column added using loc method
import pandas as pd
bill = {'Itemname':['Pen','Pencil','Eraser'],
        'Quantity':[2,5,7],
         'Price':[10,15,20]}
df = pd.DataFrame(bill)
print(df)
df['Amount'] = df['Quantity']*df['Price']
df.loc[:,'Sale Price'] = [8,13,18]
print(df)

  Itemname  Quantity  Price
0      Pen         2     10
1   Pencil         5     15
2   Eraser         7     20
  Itemname  Quantity  Price  Amount  Sale Price
0      Pen         2     10      20           8
1   Pencil         5     15      75          13
2   Eraser         7     20     140          18

In [24]:
#adding row using loc method
import pandas as pd
bill = {'Itemname':['Pen','Pencil','Eraser'],
        'Quantity':[2,5,7],
         'Price':[10,15,20]}
df = pd.DataFrame(bill, index=['r1','r2','r3'])
print(df)
df['Amount'] = df['Quantity']*df['Price']
df.loc[:,'Sale Price'] = [8,13,18]
df.loc[3] = ['Copy', 5,6,30,13]
print(df)

   Itemname  Quantity  Price
r1      Pen         2     10
r2   Pencil         5     15
r3   Eraser         7     20
   Itemname  Quantity  Price  Amount  Sale Price
r1      Pen         2     10      20           8
r2   Pencil         5     15      75          13
r3   Eraser         7     20     140          18
3      Copy         5      6      30          13

In [5]:
#deleting Column using drop method
import pandas as pd
bill1 = [{'itemname':'Pen','Quantity': 4, 'Price':10},
         {'itemname':'Copy','Quantity': 5, 'Price':11},
          {'itemname':'Eraser','Quantity': 5, 'Price':5},
            {'itemname':'Pencil','Quantity': 6,'Price':7}]
df4 = pd.DataFrame(bill1, index = [1,2,3,4])
print(df4)
df4['Amount'] = df4['Quantity'] * df4['Price']
df4['Saleprice'] = [10,12,15,10]
print(df4)
x = df4.drop('Saleprice',axis = 1)
print(x)

  itemname  Quantity  Price
1      Pen         4     10
2     Copy         5     11
3   Eraser         5      5
4   Pencil         6      7
  itemname  Quantity  Price  Amount  Saleprice
1      Pen         4     10      40         10
2     Copy         5     11      55         12
3   Eraser         5      5      25         15
4   Pencil         6      7      42         10
  itemname  Quantity  Price  Amount
1      Pen         4     10      40
2     Copy         5     11      55
3   Eraser         5      5      25
4   Pencil         6      7      42

In [30]:
#deleting Rows using drop method
import pandas as pd
bill2 = {'ItemName':pd.Series(['Pen','Pencil','Eraser','copy'],index = [1,2,3,4]),
        'Quantity':pd.Series([10,11,12,14],index = [1,2,3,4]),
        'Price':pd.Series([10,5,8,10],index = [1,2,3,4])}
df6 = pd.DataFrame(bill2)
print(df6)
df6['Amount'] = df6['Quantity'] * df6['Price']
df6['Saleprice'] = [10,12,15,10]
print(df6)
y = x.drop(['Amount','Saleprice'], axis = 1)
x= df6.drop([1,4], axis = 0)

print(x)
print(y)

  ItemName  Quantity  Price
1      Pen        10     10
2   Pencil        11      5
3   Eraser        12      8
4     copy        14     10
  ItemName  Quantity  Price  Amount  Saleprice
1      Pen        10     10     100         10
2   Pencil        11      5      55         12
3   Eraser        12      8      96         15
4     copy        14     10     140         10
  ItemName  Quantity  Price  Amount  Saleprice
2   Pencil        11      5      55         12
3   Eraser        12      8      96         15
  ItemName  Quantity  Price
2   Pencil        11      5
3   Eraser        12      8

In [18]:
import pandas  as pd
d2 = {"Name":pd.Series(['Divya','Vipul','Simran','Rishab']),
      "RollNo":pd.Series([1,2,3,4,]),
     "Eng":pd.Series([50,65,66,65]),
      "Hindi":pd.Series([74,71,72,65]),
       "Maths": pd.Series([70,67,69,75])}
df10 = pd.DataFrame(d2)
df10['Total'] = df10['Eng']+df10['Hindi']+df10['Maths']
print(df10)
df10.at[2,'Eng']=70
print(df10)
df10['Eng'] = [60,70,75,71]
print(df10)
df10.loc[3] = ['Rishab',4,72,75,78,225]
print(df10)

     Name  RollNo  Eng  Hindi  Maths  Total
0   Divya       1   50     74     70    194
1   Vipul       2   65     71     67    203
2  Simran       3   66     72     69    207
3  Rishab       4   65     65     75    205
     Name  RollNo  Eng  Hindi  Maths  Total
0   Divya       1   50     74     70    194
1   Vipul       2   65     71     67    203
2  Simran       3   70     72     69    207
3  Rishab       4   65     65     75    205
     Name  RollNo  Eng  Hindi  Maths  Total
0   Divya       1   60     74     70    194
1   Vipul       2   70     71     67    203
2  Simran       3   75     72     69    207
3  Rishab       4   71     65     75    205
     Name  RollNo  Eng  Hindi  Maths  Total
0   Divya       1   60     74     70    194
1   Vipul       2   70     71     67    203
2  Simran       3   75     72     69    207
3  Rishab       4   72     75     78    225

In [19]:
import pandas  as pd
d2 = {"Name":pd.Series(['Divya','Vipul','Simran','Rishab']),
      "RollNo":pd.Series([1,2,3,4,]),
     "Eng":pd.Series([50,65,66,65]),
      "Hindi":pd.Series([74,71,72,65]),
       "Maths": pd.Series([70,67,69,75])}
df10 = pd.DataFrame(d2)
print("Old Dataframe\n",df10)

df11 = df10.rename({'Name':'StudentName'}, axis = 'columns')
print("New DataFrame with renamed column:-\n",df11)

Old Dataframe
      Name  RollNo  Eng  Hindi  Maths
0   Divya       1   50     74     70
1   Vipul       2   65     71     67
2  Simran       3   66     72     69
3  Rishab       4   65     65     75
New DataFrame with renamed column:-
   StudentName  RollNo  Eng  Hindi  Maths
0       Divya       1   50     74     70
1       Vipul       2   65     71     67
2      Simran       3   66     72     69
3      Rishab       4   65     65     75

In [20]:
import pandas  as pd
d2 = {"Name":pd.Series(['Divya','Vipul','Simran','Rishab']),
      "RollNo":pd.Series([1,2,3,4,]),
     "Eng":pd.Series([50,65,66,65]),
      "Hindi":pd.Series([74,71,72,65]),
       "Maths": pd.Series([70,67,69,75])}
df10 = pd.DataFrame(d2)
print("Old Dataframe\n",df10)
df12 = df10.rename({0:'R1',1:'R2',2:'R3',3:'R4'}, axis = 'index')
print('Rename rows in Dataframe:\n',df12)

Old Dataframe
      Name  RollNo  Eng  Hindi  Maths
0   Divya       1   50     74     70
1   Vipul       2   65     71     67
2  Simran       3   66     72     69
3  Rishab       4   65     65     75
Rename rows in Dataframe:
       Name  RollNo  Eng  Hindi  Maths
R1   Divya       1   50     74     70
R2   Vipul       2   65     71     67
R3  Simran       3   66     72     69
R4  Rishab       4   65     65     75

In [25]:
#Accessing DataFrame
import pandas  as pd
d2 = {"Name":pd.Series(['Divya','Vipul','Simran','Rishab']),
      "RollNo":pd.Series([1,2,3,4,]),
     "Eng":pd.Series([50,65,66,65]),
      "Hindi":pd.Series([74,71,72,65]),
       "Maths": pd.Series([70,67,69,75])}
df10 = pd.DataFrame(d2)
print("Single Column\n",df10.Name)
print("Multiple columns\n",df10[['Name','Maths']])

Single Column
 0     Divya
1     Vipul
2    Simran
3    Rishab
Name: Name, dtype: object
Multiple columns
      Name  Maths
0   Divya     70
1   Vipul     67
2  Simran     69
3  Rishab     75

In [26]:
#Accessing dataframe using loc method
import pandas  as pd
d2 = {"Name":pd.Series(['Divya','Vipul','Simran','Rishab'],index = pd.Index(['R1','R2','R3','R4'])),
      "RollNo":pd.Series([1,2,3,4], index = ['R1','R2','R3','R4']),
     "Eng":pd.Series([50,65,66,65], index =['R1','R2','R3','R4']),
      "Hindi":pd.Series([74,71,72,65], index = ['R1','R2','R3','R4']),
       "Maths": pd.Series([70,67,69,75], index = ['R1','R2','R3','R4'])}
df10 = pd.DataFrame(d2)
print("Single Row\n",df10.loc['R1'])
print("Multiple Row\n",df10.loc[['R1','R3']])
print("Multiple Row\n",df10.loc['R2':'R4'])
print("Multiple columns\n",df10[['Name']])
print("TO display single column and all rows\n", df10.loc[:,'Name'])
print("TO display Multiple column and  all rows\n", df10.loc[:,['Name','Hindi']])

Single Row
 Name      Divya
RollNo        1
Eng          50
Hindi        74
Maths        70
Name: R1, dtype: object
Multiple Row
       Name  RollNo  Eng  Hindi  Maths
R1   Divya       1   50     74     70
R3  Simran       3   66     72     69
Multiple Row
       Name  RollNo  Eng  Hindi  Maths
R2   Vipul       2   65     71     67
R3  Simran       3   66     72     69
R4  Rishab       4   65     65     75
Multiple columns
       Name
R1   Divya
R2   Vipul
R3  Simran
R4  Rishab
TO display single column and all rows
 R1     Divya
R2     Vipul
R3    Simran
R4    Rishab
Name: Name, dtype: object
TO display Multiple column and  all rows
       Name  Hindi
R1   Divya     74
R2   Vipul     71
R3  Simran     72
R4  Rishab     65

In [40]:
import pandas  as pd
d2 = {"Name":pd.Series(['Divya','Vipul','Simran','Rishab'],index = pd.Index(['R1','R2','R3','R4'])),
      "RollNo":pd.Series([1,2,3,4], index = ['R1','R2','R3','R4']),
     "Eng":pd.Series([50,65,66,65], index =['R1','R2','R3','R4']),
      "Hindi":pd.Series([74,71,72,65], index = ['R1','R2','R3','R4']),
       "Maths": pd.Series([70,67,69,75], index = ['R1','R2','R3','R4'])}
df10 = pd.DataFrame(d2)
print(df10.loc[['R1','R4'],['Name','Maths']])
print(df10.loc['R1':'R4','RollNo':'Maths'])
print(df10.loc['R1':'R4',['RollNo','Maths','Name']])
print(df10.loc[::])
print(df10['Maths']>=70)

      Name  Maths
R1   Divya     70
R4  Rishab     75
    RollNo  Eng  Hindi  Maths
R1       1   50     74     70
R2       2   65     71     67
R3       3   66     72     69
R4       4   65     65     75
    RollNo  Maths    Name
R1       1     70   Divya
R2       2     67   Vipul
R3       3     69  Simran
R4       4     75  Rishab
      Name  RollNo  Eng  Hindi  Maths
R1   Divya       1   50     74     70
R2   Vipul       2   65     71     67
R3  Simran       3   66     72     69
R4  Rishab       4   65     65     75
R1     True
R2    False
R3    False
R4     True
Name: Maths, dtype: bool

In [ ]:
# Slicing with DataFrame
import pandas as pd
salelist = [{'Revenue':25000,Expenses, 20000},{'Revenue':5000,Expenses, 20000}]

In [6]:
#Joining two dataframes using join with left method 

import pandas as pd 
std = {'Name':pd.Series(['Arun','B','C','d'],index = [1,2,3,4]),
  'Adderess':pd.Series(['Solan','shimla','chd','mall'],index = [1,2,3,4])}
dfstd = pd.DataFrame(std)

marks = {'Eng':pd.Series([70,80,80,60],index = [1,3,4,5]),
        'Maths':pd.Series([80,90,85,60],index = [1,3,4,5]),
        'IP':pd.Series([90,91,93,60],index = [1,3,4,5])}
print(dfstd)

dfm= pd.DataFrame(marks)
print(dfm)
d3 = dfstd.join(dfm, how = 'left', sort = False)

print(d3)

   Name Adderess
1  Arun    Solan
2     B   shimla
3     C      chd
4     d     mall
   Eng  Maths  IP
1   70     80  90
3   80     90  91
4   80     85  93
5   60     60  60
   Name Adderess   Eng  Maths    IP
1  Arun    Solan  70.0   80.0  90.0
2     B   shimla   NaN    NaN   NaN
3     C      chd  80.0   90.0  91.0
4     d     mall  80.0   85.0  93.0

In [7]:
#Joining two dataframes using join with Right method 
import pandas as pd 
std = {'Name':pd.Series(['Arun','B','C','d'],index = [1,2,3,4]),
  'Adderess':pd.Series(['Solan','shimla','chd','mall'],index = [1,2,3,4])}
dfstd = pd.DataFrame(std)

marks = {'Eng':pd.Series([70,80,80,60],index = [1,3,4,5]),
        'Maths':pd.Series([80,90,85,60],index = [1,3,4,5]),
        'IP':pd.Series([90,91,93,60],index = [1,3,4,5])}
dms = pd.DataFrame(marks)
d4 = dfstd.join(dms, how = 'right')
print(d4)

   Name Adderess  Eng  Maths  IP
1  Arun    Solan   70     80  90
3     C      chd   80     90  91
4     d     mall   80     85  93
5   NaN      NaN   60     60  60

In [8]:
#Joining two dataframes using join with Right method 
import pandas as pd 
std = {'Name':pd.Series(['Arun','B','C','d'],index = [1,2,3,4]),
  'Adderess':pd.Series(['Solan','shimla','chd','mall'],index = [1,2,3,4])}
dfstd = pd.DataFrame(std)

marks = {'Eng':pd.Series([70,80,80,60],index = [1,3,4,5]),
        'Maths':pd.Series([80,90,85,60],index = [1,3,4,5]),
        'IP':pd.Series([90,91,93,60],index = [1,3,4,5])}
dms = pd.DataFrame(marks)
d4 = dfstd.join(dms, how = 'inner')
print(d4)

   Name Adderess  Eng  Maths  IP
1  Arun    Solan   70     80  90
3     C      chd   80     90  91
4     d     mall   80     85  93

In [14]:
#Joining two dataframes using join with Right method 
import pandas as pd 
std = {'Name':pd.Series(['Arun','B','C','d'],index = [1,2,3,4]),
  'Adderess':pd.Series(['Solan','shimla','chd','mall'],index = [1,2,3,4]),
      'Eco':pd.Series([20,24,25,22],index = [1,2,3,4])}
dfstd = pd.DataFrame(std)

marks = {'Eng':pd.Series([70,80,80,60],index = [1,3,4,5]),
        'Maths':pd.Series([80,90,85,60],index = [1,3,4,5]),
        'IP':pd.Series([90,91,93,60],index = [1,3,4,5])}

dms = pd.DataFrame(marks)
dms['Total']=dms['Eng']+dms['Maths']+dms['IP']+dfstd['Eco']
d4 = dfstd.join(dms, how = 'outer', sort = True)

print(d4)

   Name Adderess   Eco   Eng  Maths    IP  Total
1  Arun    Solan  20.0  70.0   80.0  90.0  260.0
2     B   shimla  24.0   NaN    NaN   NaN    NaN
3     C      chd  25.0  80.0   90.0  91.0  286.0
4     d     mall  22.0  80.0   85.0  93.0  280.0
5   NaN      NaN   NaN  60.0   60.0  60.0    NaN

In [3]:
import pandas as pd
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'],"data1":range(7)})
df2 = pd.DataFrame({'key':['a','b','d'],"data1":range(3)})
m = pd.merge(df1,df2,on = 'data1')
print(m)

  key_x  data1 key_y
0     b      0     a
1     b      1     b
2     a      2     d

In [12]:
import pandas as pd 
left = pd.DataFrame({'id':[1,2,3,4,5], 'Name':['Ajay','Amit','Aleen','Arick','Ayush'],
                    'Subject_id':['Eng','Math','Phy','Chem','IP']})
right =pd.DataFrame({'id':[1,2,3,4,5], 'Name':['Ajay','Vivan','Vinay','Vansh','Ayush'],
                    'Subject_id':['Eng','Math','Eco','Cs','IP']})
print(pd.merge(left,right, on = 'id'))
print(pd.merge(left,right, on = ['id','Subject_id'], how = 'outer'))

   id Name_x Subject_id_x Name_y Subject_id_y
0   1   Ajay          Eng   Ajay          Eng
1   2   Amit         Math  Vivan         Math
2   3  Aleen          Phy  Vinay          Eco
3   4  Arick         Chem  Vansh           Cs
4   5  Ayush           IP  Ayush           IP
   id Name_x Subject_id Name_y
0   1   Ajay        Eng   Ajay
1   2   Amit       Math  Vivan
2   3  Aleen        Phy    NaN
3   4  Arick       Chem    NaN
4   5  Ayush         IP  Ayush
5   3    NaN        Eco  Vinay
6   4    NaN         Cs  Vansh

In [17]:
import pandas as pd
classXIA= {'Rollno':[1,2,3,4],
          'Name':['Ajay','Amit','Allen','Arick'],
          'Marksobt':[450,435,465,350]}
classXIB = {'Rollno':[1,3,4,5],
            'Name':['Virat','Viraj','Vivan','Vinod'],
            'Marksobt':[420,380,400,480]}
cdf = pd.DataFrame(classXIA,index = [1,2,3,4])
cdf1 = pd.DataFrame(classXIB, index = [1,2,3,4])
print(cdf)
print(cdf1)
con = pd.concat([cdf,cdf1],ignore_index=True)
print(con)
con1 = pd.concat([cdf,cdf1],ignore_index= True,axis = 1)
print(con1)

   Rollno   Name  Marksobt
1       1   Ajay       450
2       2   Amit       435
3       3  Allen       465
4       4  Arick       350
   Rollno   Name  Marksobt
1       1  Virat       420
2       3  Viraj       380
3       4  Vivan       400
4       5  Vinod       480
   Rollno   Name  Marksobt
0       1   Ajay       450
1       2   Amit       435
2       3  Allen       465
3       4  Arick       350
4       1  Virat       420
5       3  Viraj       380
6       4  Vivan       400
7       5  Vinod       480
   0      1    2  3      4    5
1  1   Ajay  450  1  Virat  420
2  2   Amit  435  3  Viraj  380
3  3  Allen  465  4  Vivan  400
4  4  Arick  350  5  Vinod  480

In [21]:
import pandas as pd
left = {
   'id':[1,2,3,4,5], 
  'Name': ['Ajay', 'Amit', 'Allen', 'Arick', 'Ayush'],
   'subject_id':['Eng','Maths','Physics','Chemistry','IP']}
right = pd.DataFrame({'id':[1,2,3,4,5],          
    'Name': ['Vinay', 'Virat', 'Vivan', 'Viraj', 'Ayush'],
   'subject_id':['Eng','Maths','Economics','CS','IP']},index = pd.Index(['1','2','3','4','5']) )
l1 = pd.DataFrame(left,index = pd.Index(['1','2','3','4','5']))
l1 = l1.reindex()
df1= l1.append(right, ignore_index = True)
print(df1)
df2= l1.append(right, ignore_index = True, sort = True)
print(df2)

   id   Name subject_id
0   1   Ajay        Eng
1   2   Amit      Maths
2   3  Allen    Physics
3   4  Arick  Chemistry
4   5  Ayush         IP
5   1  Vinay        Eng
6   2  Virat      Maths
7   3  Vivan  Economics
8   4  Viraj         CS
9   5  Ayush         IP
   id   Name subject_id
0   1   Ajay        Eng
1   2   Amit      Maths
2   3  Allen    Physics
3   4  Arick  Chemistry
4   5  Ayush         IP
5   1  Vinay        Eng
6   2  Virat      Maths
7   3  Vivan  Economics
8   4  Viraj         CS
9   5  Ayush         IP

In [34]:
import pandas as pd
fn = r'C:\XII2021-22\pandas\jaipurfinalcleandata.csv'
jpdata = pd.read_csv(fn,usecols = [0,2,16])
#print(jpdata)

hp = jpdata.head(20)
x = jpdata['max_temperature'].max()
print(x)
hp.to_csv('C:\XII2021-22\pandas\jaipurfinalcleandata10.csv')

46

AttributeError: 'numpy.int64' object has no attribute 'to_csv'

In [3]:
import pandas as pd 
df1=pd.DataFrame({'key':['a','b','c','d'], 'value':[1,2,3,4]})
df2=pd.DataFrame({'key':['a','b','e','b'], 'value':[5,6,7,8]}) 
df3=df1.merge(df2, on='key', how='left')
print(df3)

  key  value_x  value_y
0   a        1      5.0
1   b        2      6.0
2   b        2      8.0
3   c        3      NaN
4   d        4      NaN

In [1]:
import pandas as pd
l= [[79,92],[86,96],[85,91],[80,99]]
df = pd.DataFrame(l, columns = ['CS','IP'])
print(df)

   CS  IP
0  79  92
1  86  96
2  85  91
3  80  99

In [4]:
import pandas as pd
df1=pd.DataFrame({'key':['a','b','c','d'], 'value':[1,2,3,4]})
df2=pd.DataFrame({'key':['a','b','e','b'], 'value':[5,6,7,8]})
df3=df1.merge(df2, on='key', how='left')
print(df3)

  key  value_x  value_y
0   a        1      5.0
1   b        2      6.0
2   b        2      8.0
3   c        3      NaN
4   d        4      NaN

In [9]:
import pandas as pd
import numpy as np
n = np.random.randint(24,64,5)
s= pd.Series(n)
print(s)
s6 = pd.Series(np.linspace(24,64,5))
print(s6)

0    50
1    38
2    38
3    60
4    31
dtype: int32
0    24.0
1    34.0
2    44.0
3    54.0
4    64.0
dtype: float64

In [7]:
import pandas as pd
df1=pd.DataFrame({'key':['a','b','c','d','e','f','g','h','i','j','k','l'], 'value':[1,2,3,4,5,6,7,8,9,10,11,12]})
#df2=pd.DataFrame({'key':['a','b','e','b'], 'value':[5,6,7,8]})
#df3=df1.merge(df2, on='key', how='left')
print(df1.iloc[:-4,:])
print(df1[2:8])

  key  value
0   a      1
1   b      2
2   c      3
3   d      4
4   e      5
5   f      6
6   g      7
7   h      8
  key  value
2   c      3
3   d      4
4   e      5
5   f      6
6   g      7
7   h      8

In [5]:
import pandas as pd
#s = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s = pd.Series([1,2,3,4,5])
s1 = pd.Series(s, index = [x for x in 'abcde'])
print(s1)
print(s)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64
0    1
1    2
2    3
3    4
4    5
dtype: int64