# Descriptive Statistics

In [1]:
import pandas as pd
import numpy as np
d = {'Name':['Ajay','Pranjal','Rashi','Raman','Ansh','Adivitya'],
     'Age':[16,15,17,18,16,19],
     'Eng':[98,92,96,95,94,97],
      'IP' :[91,92,96,98,96,98]}
df = pd.DataFrame(d, index=['stud1','Stud2','Stud3','stud4','stud5','stud6'])
print(df)
print('Column Wise')
print(df['Eng'].max())
print('...................................')
print('Maximum Value of Each')
print(df.max(axis = 1))

           Name  Age  Eng  IP
stud1      Ajay   16   98  91
Stud2   Pranjal   15   92  92
Stud3     Rashi   17   96  96
stud4     Raman   18   95  98
stud5      Ansh   16   94  96
stud6  Adivitya   19   97  98
Column Wise
98
...................................
Maximum Value of Each
stud1    98
Stud2    92
Stud3    96
stud4    98
stud5    96
stud6    98
dtype: int64

In [2]:
import pandas as pd
import numpy as np
d = {'Name':['Ajay','Pranjal','Rashi','Raman','Ansh','Adivitya'],
     'Age':[116,115,117,118,116,119],
     'Eng':[98,92,96,95,94,97],
      'IP' :[91,92,96,98,96,98]}
df = pd.DataFrame(d, index=['stud1','Stud2','Stud3','stud4','stud5','stud6'])
print(df)
print('Column Wise')
print(df[['IP','Eng']].min())
print('...................................')
print('Maximum Value of Each')
print(df.count(axis = 0))

           Name  Age  Eng  IP
stud1      Ajay  116   98  91
Stud2   Pranjal  115   92  92
Stud3     Rashi  117   96  96
stud4     Raman  118   95  98
stud5      Ansh  116   94  96
stud6  Adivitya  119   97  98
Column Wise
IP     91
Eng    92
dtype: int64
...................................
Maximum Value of Each
Name    6
Age     6
Eng     6
IP      6
dtype: int64

In [3]:
import pandas as pd
sale = {'TCS':{'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000},
        'Wipro':{'Qtr1':2000, 'Qtr2':3500, 'Qtr3':4500,'Qtr4':2100},
        'L&T': {'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000}}
df = pd.DataFrame(sale)
print('DataFrame:')
print(df)
print('............................')
print('Sum of Single Column')
print(df[['Wipro','TCS']].sum())
print('.............................')
print('Sum Column Wise:--')
print(df.sum(axis= 0))
print('................................')
print('Row wise sum:-')
print(df.sum(axis=1))

DataFrame:
       TCS  Wipro   L&T
Qtr1  2500   2000  2500
Qtr2  3000   3500  3000
Qtr3  2500   4500  2500
Qtr4  2000   2100  2000
............................
Sum of Single Column
Wipro    12100
TCS      10000
dtype: int64
.............................
Sum Column Wise:--
TCS      10000
Wipro    12100
L&T      10000
dtype: int64
................................
Row wise sum:-
Qtr1    7000
Qtr2    9500
Qtr3    9500
Qtr4    6100
dtype: int64

In [4]:
import pandas as pd
sale = {'TCS':{'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000},
        'Wipro':{'Qtr1':2000, 'Qtr2':3500, 'Qtr3':4500,'Qtr4':2100},
        'L&T': {'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000}}
df = pd.DataFrame(sale)
print('Mean value of Single Column')
print(df['Wipro'].mean())
print('......................................')
print('Mean value Column wise')
print(df.mean(axis= 0))
print('......................................')
print('Mean value Row wise')
print(df.mean(axis= 1))

Mean value of Single Column
3025.0
......................................
Mean value Column wise
TCS      2500.0
Wipro    3025.0
L&T      2500.0
dtype: float64
......................................
Mean value Row wise
Qtr1    2333.333333
Qtr2    3166.666667
Qtr3    3166.666667
Qtr4    2033.333333
dtype: float64

In [5]:
import pandas as pd
sale = {'TCS':{'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000},
        'Wipro':{'Qtr1':2000, 'Qtr2':3500, 'Qtr3':4500,'Qtr4':2100},
        'L&T': {'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000}}
df = pd.DataFrame(sale)
print('Median value of Single Column')
print(df['Wipro'].median())
print('......................................')
print('Median value Column wise')
print(df.median(axis= 0))
print('......................................')
print('Mean value Row wise')
print(df.median(axis= 1))

Median value of Single Column
2800.0
......................................
Median value Column wise
TCS      2500.0
Wipro    2800.0
L&T      2500.0
dtype: float64
......................................
Mean value Row wise
Qtr1    2500.0
Qtr2    3000.0
Qtr3    2500.0
Qtr4    2000.0
dtype: float64

In [6]:
import pandas as pd
sale = {'TCS':{'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000},
        'Wipro':{'Qtr1':2000, 'Qtr2':2000, 'Qtr3':2000,'Qtr4':2100},
        'L&T': {'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000}}
df = pd.DataFrame(sale)
print('mode value of Single Column')
print(df['Wipro'].mode())
print('......................................')
print('Mode value Column wise')
print(df.mode(axis= 0))
print('......................................')
print('Mode value Row wise')
print(df.mode(axis= 1))

mode value of Single Column
0    2000
dtype: int64
......................................
Mode value Column wise
    TCS  Wipro   L&T
0  2500   2000  2500
......................................
Mode value Row wise
         0
Qtr1  2500
Qtr2  3000
Qtr3  2500
Qtr4  2000

In [7]:
import pandas as pd
sale = {'TCS':{'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2800,'Qtr4':2000},
        'Wipro':{'Qtr1':2000, 'Qtr2':3500, 'Qtr3':4500,'Qtr4':2100},
        'L&T': {'Qtr1':2500, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000},
        'HCL': {'Qtr1':5500, 'Qtr2':6000, 'Qtr3':2500,'Qtr4':4500},
        'HP':   {'Qtr1':5000, 'Qtr2':3000, 'Qtr3':2500,'Qtr4':2000}}
df = pd.DataFrame(sale)
print(df)
print('Quartile Columnwsie')
print(df.quantile([0.25,0.50,0.75], axis = 0))

       TCS  Wipro   L&T   HCL    HP
Qtr1  2500   2000  2500  5500  5000
Qtr2  3000   3500  3000  6000  3000
Qtr3  2800   4500  2500  2500  2500
Qtr4  2000   2100  2000  4500  2000
Quartile Columnwsie
         TCS   Wipro     L&T     HCL      HP
0.25  2375.0  2075.0  2375.0  4000.0  2375.0
0.50  2650.0  2800.0  2500.0  5000.0  2750.0
0.75  2850.0  3750.0  2625.0  5625.0  3500.0

In [8]:
import pandas as pd
sale = {'TCS':{'Qtr1':25, 'Qtr2':30, 'Qtr3':28,'Qtr4':20},
        'Wipro':{'Qtr1':20, 'Qtr2':35, 'Qtr3':45,'Qtr4':21},
        'L&T': {'Qtr1':25, 'Qtr2':30, 'Qtr3':25,'Qtr4':20},
        'HCL': {'Qtr1':5, 'Qtr2':6, 'Qtr3':2,'Qtr4':4},
        'HP':   {'Qtr1':5, 'Qtr2':3, 'Qtr3':4,'Qtr4':1}}
df = pd.DataFrame(sale)
print(df)
print('Quartile Columnwsie')
print(df.quantile([0.25,0.50,0.75], axis = 0))

      TCS  Wipro  L&T  HCL  HP
Qtr1   25     20   25    5   5
Qtr2   30     35   30    6   3
Qtr3   28     45   25    2   4
Qtr4   20     21   20    4   1
Quartile Columnwsie
        TCS  Wipro    L&T   HCL    HP
0.25  23.75  20.75  23.75  3.50  2.50
0.50  26.50  28.00  25.00  4.50  3.50
0.75  28.50  37.50  26.25  5.25  4.25

In [9]:
import pandas as pd
s = {'TCS':[1,3,4,7,8,8,9],'wipro':[6,4,8,3,7,9,10]}
df = pd.DataFrame(s)
print(df)
print(df.quantile([0.25], axis = 0))

   TCS  wipro
0    1      6
1    3      4
2    4      8
3    7      3
4    8      7
5    8      9
6    9     10
      TCS  wipro
0.25  3.5    5.0

In [10]:
import pandas as pd
x = {'TCS':[1,10,100,1000,850,200,256]}
df = pd.DataFrame(x)
print(df)
print(df.quantile([0.75]))

    TCS
0     1
1    10
2   100
3  1000
4   850
5   200
6   256
        TCS
0.75  553.0

In [11]:
import pandas as pd
s = {'TCS':[1,2,3,4,5,6,7],'Wipro':[2,3,4,6,7,8,9]}
df = pd.DataFrame(s)
print(df)
print(df['TCS'].var())
print('Column-Wise')
print(df.var(axis = 0))
print('Row wise')
print(df.var(axis = 0))

   TCS  Wipro
0    1      2
1    2      3
2    3      4
3    4      6
4    5      7
5    6      8
6    7      9
4.666666666666667
Column-Wise
TCS      4.666667
Wipro    6.952381
dtype: float64
Row wise
TCS      4.666667
Wipro    6.952381
dtype: float64

In [12]:
import pandas as pd
s = {'TCS':[1,2,3,4,5,6,7],'Wipro':[2,3,4,6,7,8,9]}
df = pd.DataFrame(s)
print(df)
print(df['TCS'].std())
print('Column-Wise')
print(df.std(axis = 0))
print('Row wise')
print(df.std(axis = 0))

   TCS  Wipro
0    1      2
1    2      3
2    3      4
3    4      6
4    5      7
5    6      8
6    7      9
2.160246899469287
Column-Wise
TCS      2.160247
Wipro    2.636737
dtype: float64
Row wise
TCS      2.160247
Wipro    2.636737
dtype: float64

In [13]:
import pandas as pd
import numpy as np
sale = {'TCS':{'Qtr1':25, 'Qtr2':30, 'Qtr3':28,'Qtr4':20},
        'Wipro':{'Qtr1':20, 'Qtr2':35, 'Qtr3':45,'Qtr4':21},
        'L&T': {'Qtr1':25, 'Qtr2':30, 'Qtr3':25,'Qtr4':20},
        'HCL': {'Qtr1':5, 'Qtr2':6, 'Qtr3':2,'Qtr4':4},
        'HP':   {'Qtr1':5, 'Qtr2':3, 'Qtr3':4,'Qtr4':1}}
df = pd.DataFrame(sale)
print(df)
print('Aggregation  Columnwsie')
print(df.aggregate(['max','mean','sum','std','var','median','min'], axis = 0))
print('Aggregation  Rowwsie')
print(df.aggregate(['max','mean','sum','std','var','median','min'], axis = 1))
print('....................')
print(df.loc['Qtr1': 'Qtr2', 'TCS':'HCL'].aggregate('max'))

      TCS  Wipro  L&T  HCL  HP
Qtr1   25     20   25    5   5
Qtr2   30     35   30    6   3
Qtr3   28     45   25    2   4
Qtr4   20     21   20    4   1
Aggregation  Columnwsie
               TCS       Wipro         L&T        HCL         HP
max      30.000000   45.000000   30.000000   6.000000   5.000000
mean     25.750000   30.250000   25.000000   4.250000   3.250000
sum     103.000000  121.000000  100.000000  17.000000  13.000000
std       4.349329   11.982626    4.082483   1.707825   1.707825
var      18.916667  143.583333   16.666667   2.916667   2.916667
median   26.500000   28.000000   25.000000   4.500000   3.500000
min      20.000000   20.000000   20.000000   2.000000   1.000000
Aggregation  Rowwsie
       max  mean    sum        std    var  median  min
Qtr1  25.0  16.0   80.0  10.246951  105.0    20.0  5.0
Qtr2  35.0  20.8  104.0  15.056560  226.7    30.0  3.0
Qtr3  45.0  20.8  104.0  17.963853  322.7    25.0  2.0
Qtr4  21.0  13.2   66.0   9.833616   96.7    20.0  1.0
....................
TCS      30
Wipro    35
L&T      30
HCL       6
dtype: int64

In [14]:
import pandas as pd
dict= {'Zone':['A','B','B','A','B','C','C','A','C'],
       'Sale':[20,23,34,45,56,67,87,65,43]}
df = pd.DataFrame(dict)
print(df)
print('Group the data Zonewise')
print(df.groupby('Zone'))
print(df.groupby('Zone').sum())

  Zone  Sale
0    A    20
1    B    23
2    B    34
3    A    45
4    B    56
5    C    67
6    C    87
7    A    65
8    C    43
Group the data Zonewise
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001C3C3F21130>
      Sale
Zone
A      130
B      113
C      197

In [15]:
import pandas as pd
dict= {'Zone':['A','B','B','A','B','C','C','A','C'],
       'Sale':[20,23,34,45,56,67,87,65,43]}
df = pd.DataFrame(dict)
print(df)
print('Displaying the first entry of each group')
t1 = df.groupby('Zone')
print(t1.first())

  Zone  Sale
0    A    20
1    B    23
2    B    34
3    A    45
4    B    56
5    C    67
6    C    87
7    A    65
8    C    43
Displaying the first entry of each group
      Sale
Zone
A       20
B       23
C       67

In [16]:
import pandas as pd
dict= {'Zone':['A','B','B','A','B','C','C','A','A'],
       'Sale':[20,23,34,45,56,67,87,65,43]}
df = pd.DataFrame(dict)
print(df)
print('Displaying the Size of each group')
t1 = df.groupby('Zone')
print(t1.size())

  Zone  Sale
0    A    20
1    B    23
2    B    34
3    A    45
4    B    56
5    C    67
6    C    87
7    A    65
8    A    43
Displaying the Size of each group
Zone
A    4
B    3
C    2
dtype: int64

In [17]:
import pandas as pd
dict= {'Zone':['A','B','B','A','B','C','C','A','A'],
       'Sale':[20,23,34,45,56,67,87,65,43]}
df = pd.DataFrame(dict)
print(df)
print('Displaying the the Group Data,Goupname,Rowindexes')
t1 = df.groupby('Zone')
print(t1.groups)

  Zone  Sale
0    A    20
1    B    23
2    B    34
3    A    45
4    B    56
5    C    67
6    C    87
7    A    65
8    A    43
Displaying the the Group Data,Goupname,Rowindexes
{'A': [0, 3, 7, 8], 'B': [1, 2, 4], 'C': [5, 6]}

In [18]:
import pandas as pd
dict= {'Zone':['A','B','B','A','B','C','C','A','A'],
       'Sale':[20,23,34,45,56,67,87,65,43]}
df = pd.DataFrame(dict)
print(df)
print('Displaying the data of single goup')
t1 = df.groupby('Zone')
print(t1.get_group('A'))

  Zone  Sale
0    A    20
1    B    23
2    B    34
3    A    45
4    B    56
5    C    67
6    C    87
7    A    65
8    A    43
Displaying the data of single goup
  Zone  Sale
0    A    20
3    A    45
7    A    65
8    A    43

In [19]:
import pandas as pd
dict= {'Zone':['A','B','B','A','B','C','C','A','A'],
       'Sale':[20,23,34,45,56,67,87,65,43]}
df = pd.DataFrame(dict)
print(df)
print(df.describe())

  Zone  Sale
0    A    20
1    B    23
2    B    34
3    A    45
4    B    56
5    C    67
6    C    87
7    A    65
8    A    43
            Sale
count   9.000000
mean   48.888889
std    21.985475
min    20.000000
25%    34.000000
50%    45.000000
75%    65.000000
max    87.000000

In [20]:
import pandas as pd
emp = {'Empid':[101,102,103,104,105,106],
       'EmpName':['Aranav','Ravi','Avani','Bhavika','Avani','Deepak'],
       'Salary':[10000,12000,1000,15000,16000,18000]}
df = pd.DataFrame(emp)
print(df)
print('.........................................')
print(df.sort_values('EmpName'))

   Empid  EmpName  Salary
0    101   Aranav   10000
1    102     Ravi   12000
2    103    Avani    1000
3    104  Bhavika   15000
4    105    Avani   16000
5    106   Deepak   18000
.........................................
   Empid  EmpName  Salary
0    101   Aranav   10000
2    103    Avani    1000
4    105    Avani   16000
3    104  Bhavika   15000
5    106   Deepak   18000
1    102     Ravi   12000

In [21]:
import pandas as pd
emp = {'Empid':[101,102,103,104,105,106],
       'EmpName':['Aranav','Ravi','Avani','Bhavika','Avani','Deepak'],
       'Salary':[10000,12000,1000,15000,16000,18000],
        'DOJ':['2014-12-20','2004-02-15','2006-10-25','2004-08-22','2000-02-15','2012-06-20']}
        #'DOJ':pd.to_datetime('03112014',format='%d%m%Y', errors='ignore')}
df = pd.DataFrame(emp)  #pd.date_range('20130101', periods = 6)
print(df)
df['DOJ']= pd.to_datetime(df['DOJ'])
print('.........................................')
print(df.sort_values('DOJ',ascending= False))
print(df.DOJ.dtype)

   Empid  EmpName  Salary         DOJ
0    101   Aranav   10000  2014-12-20
1    102     Ravi   12000  2004-02-15
2    103    Avani    1000  2006-10-25
3    104  Bhavika   15000  2004-08-22
4    105    Avani   16000  2000-02-15
5    106   Deepak   18000  2012-06-20
.........................................
   Empid  EmpName  Salary        DOJ
0    101   Aranav   10000 2014-12-20
5    106   Deepak   18000 2012-06-20
2    103    Avani    1000 2006-10-25
3    104  Bhavika   15000 2004-08-22
1    102     Ravi   12000 2004-02-15
4    105    Avani   16000 2000-02-15
datetime64[ns]

In [22]:
import pandas as pd
emp = {'Empid':[101,102,103,104,105,106],
       'EmpName':['Aranav','Ravi','Avani','Bhavika','Avani','Deepak'],
       'Salary':[10000,12000,1000,15000,16000,18000],
        'DOJ':['2014-12-20','2004-02-15','2006-10-25','2004-08-22','2000-02-15','2001-02-15']}
df = pd.DataFrame(emp, index = ['a','c','e','h','f','g'])
print(df)
print(df.sort_index(axis = 1,ascending = True))
df1 = df.rename({'a':'Raman','c':'Devansh','e':'Rashi','h':'Ansh','f':'Monal','g':'Vanshika'})
print(df1)

   Empid  EmpName  Salary         DOJ
a    101   Aranav   10000  2014-12-20
c    102     Ravi   12000  2004-02-15
e    103    Avani    1000  2006-10-25
h    104  Bhavika   15000  2004-08-22
f    105    Avani   16000  2000-02-15
g    106   Deepak   18000  2001-02-15
          DOJ  EmpName  Empid  Salary
a  2014-12-20   Aranav    101   10000
c  2004-02-15     Ravi    102   12000
e  2006-10-25    Avani    103    1000
h  2004-08-22  Bhavika    104   15000
f  2000-02-15    Avani    105   16000
g  2001-02-15   Deepak    106   18000
          Empid  EmpName  Salary         DOJ
Raman       101   Aranav   10000  2014-12-20
Devansh     102     Ravi   12000  2004-02-15
Rashi       103    Avani    1000  2006-10-25
Ansh        104  Bhavika   15000  2004-08-22
Monal       105    Avani   16000  2000-02-15
Vanshika    106   Deepak   18000  2001-02-15

In [23]:
import pandas as pd
emp = {'Empid':[101,102,103,104,105,106],
       'EmpName':['Aranav','Ravi','Avani','Bhavika','Avani','Deepak'],
       'Salary':[10000,12000,1000,15000,16000,18000],
        'DOJ':['2014-12-20','2004-02-15','2006-10-25','2004-08-22','2000-02-15','2001-02-15']}
df = pd.DataFrame(emp, index = ['a','c','e','h','f','g'])
print(df)
print(df.sort_index(axis = 1,ascending = True))
df1 = df.drop(index = ['a','c'])
print(df1)

   Empid  EmpName  Salary         DOJ
a    101   Aranav   10000  2014-12-20
c    102     Ravi   12000  2004-02-15
e    103    Avani    1000  2006-10-25
h    104  Bhavika   15000  2004-08-22
f    105    Avani   16000  2000-02-15
g    106   Deepak   18000  2001-02-15
          DOJ  EmpName  Empid  Salary
a  2014-12-20   Aranav    101   10000
c  2004-02-15     Ravi    102   12000
e  2006-10-25    Avani    103    1000
h  2004-08-22  Bhavika    104   15000
f  2000-02-15    Avani    105   16000
g  2001-02-15   Deepak    106   18000
   Empid  EmpName  Salary         DOJ
e    103    Avani    1000  2006-10-25
h    104  Bhavika   15000  2004-08-22
f    105    Avani   16000  2000-02-15
g    106   Deepak   18000  2001-02-15

# Reshaping of Data

In [32]:
# using pivot
import pandas as pd
data = {
    'Year':['2018','2019','2018','2019','2018','2019'],
    'Team' :['MI','MI','RCB','RCB','CSK','CSK'],
    'Runs' :['2500','2650','2200','2300','2400','2700']}
df = pd.DataFrame(data)
print(df)
print('..........................................')
pv = pd.pivot(df, index = 'Year', columns = 'Team', values = 'Runs')
print(pv)

   Year Team  Runs
0  2018   MI  2500
1  2019   MI  2650
2  2018  RCB  2200
3  2019  RCB  2300
4  2018  CSK  2400
5  2019  CSK  2700
..........................................
Team   CSK    MI   RCB
Year
2018  2400  2500  2200
2019  2700  2650  2300
        Year Team  Runs
count      6    6     6
unique     2    3     6
top     2018   MI  2500
freq       3    2     1

In [37]:
# using pivot
import pandas as pd
data = {
    'Year':['2018','2019','2018','2019','2018','2019'],
    'Team' :['MI','MI','RCB','RCB','CSK','CSK'],
    'Runs' :[2500,2650,2200,2300,2400,2700]}
df = pd.DataFrame(data)
print(df)
print('...................')
pv = pd.pivot_table(df, index = 'Year', values = 'Runs', aggfunc= 'sum')
print(pv)
print(df.describe())

   Year Team  Runs
0  2018   MI  2500
1  2019   MI  2650
2  2018  RCB  2200
3  2019  RCB  2300
4  2018  CSK  2400
5  2019  CSK  2700
...................
      Runs
Year
2018  7100
2019  7650
              Runs
count     6.000000
mean   2458.333333
std     196.001701
min    2200.000000
25%    2325.000000
50%    2450.000000
75%    2612.500000
max    2700.000000

In [8]:
import pandas as pd
d = pd.read_csv('resultsheet.csv')
#print(d.isnull().head(10))
#print(d['IT'].isnull())
print(d.isnull().any())
print(d.isnull().sum().sum())

AdmNo      False
Name       False
Science     True
Hindi      False
Math        True
Eng         True
S.St        True
IT         False
dtype: bool
10

In [15]:
import pandas as pd
d = pd.read_csv('resultsheet.csv')
print(d[['Science','Eng']].dropna(axis = 0, how = 'any').head(10))
print(d.dropna(subset = ['Science','Eng']).head(10))

    Science   Eng
0      18.0  23.0
1      17.0  17.0
2      15.0  18.0
3      16.0  21.0
5      16.0  17.0
6      18.0  24.0
7      15.0  21.0
8      22.0  23.0
9      19.0  16.0
10     22.0  18.0
    AdmNo            Name  Science Hindi  Math   Eng  S.St  IT
0   10737    Aastha Gupta     18.0    18  23.0  23.0  24.0  21
1   10418   Akshat Chanta     17.0    17  17.0  17.0  23.0  21
2   10490          Amrita     15.0    15  18.0  18.0  22.0  18
3   12071     Ansh Sharma     16.0    16  21.0  21.0  21.0  23
5   13342  Armaan Chauhan     16.0    16  17.0  17.0  18.0  19
6   10953      Arul Gupta     18.0    18  24.0  24.0  23.0  19
7   11762  Ashutosh Mehta     15.0    15  21.0  21.0  25.0  22
8   10888     Ayam Sharma     22.0    22  23.0  23.0  23.0  21
9   13341      Dhruv Negi     19.0    19  16.0  16.0  23.0  21
10  11034  Diskhant Gupta     22.0    22  18.0  18.0  22.0  21

In [18]:
import pandas as pd
d = pd.read_csv('resultsheet.csv')
print(d.fillna(0))

values = {'Science':3,'Hindi':'4', 'Eng':'Ab'}
print(d.fillna(value = values, limit = 1).)

    AdmNo                   Name  Science Hindi  Math   Eng  S.St  IT
0   10737           Aastha Gupta     18.0    18  23.0  23.0  24.0  21
1   10418          Akshat Chanta     17.0    17  17.0  17.0  23.0  21
2   10490                 Amrita     15.0    15  18.0  18.0  22.0  18
3   12071            Ansh Sharma     16.0    16  21.0  21.0  21.0  23
4   10923         Anshita Sharma      0.0    14  22.0  22.0  22.0  22
5   13342         Armaan Chauhan     16.0    16  17.0  17.0  18.0  19
6   10953             Arul Gupta     18.0    18  24.0  24.0  23.0  19
7   11762         Ashutosh Mehta     15.0    15  21.0  21.0  25.0  22
8   10888            Ayam Sharma     22.0    22  23.0  23.0  23.0  21
9   13341             Dhruv Negi     19.0    19  16.0  16.0  23.0  21
10  11034         Diskhant Gupta     22.0    22  18.0  18.0  22.0  21
11  12944          Himani Dharta     22.0    22  23.0  23.0  24.0  24
12  13671        Himanshu Jaswal     13.0    13  21.0  21.0  23.0  24
13  13793                  Kajal     17.0    17  14.0  14.0  21.0  22
14  10875           Kartik Gupta     25.0    25  24.0  24.0  23.0  25
15  14062  Khemkaran Singh Sidhu      0.0    13   0.0  21.0  24.0  23
16  13794                  Komal      0.0    16  14.0  14.0  22.0  21
17  12128                Krishna      7.0     7  18.0  18.0  21.0  19
18  13801       Kritika Bhandari     24.0    24  23.0  23.0  23.0  22
19  12424          Mann Upadhyay     23.0    23  21.0  21.0  25.0  23
20  10720        Mannat Bhardwaj     25.0    25  21.0  21.0  24.0  22
21  10398          Mayur Kashyap      0.0    Ab   0.0   0.0   0.0   6
22  10788             Mehak Negi     19.0    19   0.0  21.0  21.0  17
23  10877                 Moneeb     19.0    19  15.0  15.0  23.0  19
24  10882            Muskan Khan     18.0    18  22.0  22.0  24.0  25
25  10439          Osheen Rikhta     12.0    12  19.0  19.0  23.0  17
26  10897         Parisha Thakur      0.0    23  23.0  23.0  19.0  21
27  10925          Priyal Sareen     24.0    24  23.0  23.0  25.0  21
28  12856        Puranjay Sharma     22.0    22  24.0  24.0  24.0  21
29  12072               Ravinder     22.0    22  23.0  23.0  24.0  23
30  13959      Rudrani Choudhary     24.0    24  24.0  24.0  25.0  21
31  13244      Sai Rudraksh Rana     25.0    25  23.0  23.0  24.0  22
32  12967          Saiyam Dharma     18.0    18  17.0  17.0  23.0  19
33  10445        Saksham Mahawer     10.0    10  15.0  15.0  16.0  18
34  12990                   Sara     25.0    25  25.0  25.0  25.0  24
35  11386       Shambhavi Sharma     18.0    18  22.0  22.0  25.0  19
36  10920           Shivam Midha     25.0    25  23.0  23.0  25.0  24
37  13938            Sima Kumari     25.0    25  16.0  16.0  25.0  22
38  11387    Sivesh Kumar Khapra     23.0    23  22.0  22.0  22.0  20
39  11570   Sushank Singh Rangta     20.0    20  21.0  21.0  22.0  21
40  11569   Sushant Singh Rangta     19.0    19  24.0  24.0  22.0  23
41  14002          Vaani Kataria     25.0    25  24.0  24.0  25.0  25
42  11756           Vamika Nigam     25.0    25  22.0  22.0  25.0  22
43  10452          Vernika Gupta     20.0    20  22.0  22.0  22.0  22
44  14221       Deivik Chaurasia     10.0    10  14.0  14.0  17.0  16
    AdmNo                   Name  Science Hindi  Math   Eng  S.St  IT
0   10737           Aastha Gupta     18.0    18  23.0  23.0  24.0  21
1   10418          Akshat Chanta     17.0    17  17.0  17.0  23.0  21
2   10490                 Amrita     15.0    15  18.0  18.0  22.0  18
3   12071            Ansh Sharma     16.0    16  21.0  21.0  21.0  23
4   10923         Anshita Sharma      3.0    14  22.0  22.0  22.0  22
5   13342         Armaan Chauhan     16.0    16  17.0  17.0  18.0  19
6   10953             Arul Gupta     18.0    18  24.0  24.0  23.0  19
7   11762         Ashutosh Mehta     15.0    15  21.0  21.0  25.0  22
8   10888            Ayam Sharma     22.0    22  23.0  23.0  23.0  21
9   13341             Dhruv Negi     19.0    19  16.0  16.0  23.0  21
10  11034         Diskhant Gupta     22.0    22  18.0  18.0  22.0  21
11  12944          Himani Dharta     22.0    22  23.0  23.0  24.0  24
12  13671        Himanshu Jaswal     13.0    13  21.0  21.0  23.0  24
13  13793                  Kajal     17.0    17  14.0  14.0  21.0  22
14  10875           Kartik Gupta     25.0    25  24.0  24.0  23.0  25
15  14062  Khemkaran Singh Sidhu      NaN    13   NaN  21.0  24.0  23
16  13794                  Komal      NaN    16  14.0  14.0  22.0  21
17  12128                Krishna      7.0     7  18.0  18.0  21.0  19
18  13801       Kritika Bhandari     24.0    24  23.0  23.0  23.0  22
19  12424          Mann Upadhyay     23.0    23  21.0  21.0  25.0  23
20  10720        Mannat Bhardwaj     25.0    25  21.0  21.0  24.0  22
21  10398          Mayur Kashyap      NaN    Ab   NaN    Ab   NaN   6
22  10788             Mehak Negi     19.0    19   NaN  21.0  21.0  17
23  10877                 Moneeb     19.0    19  15.0  15.0  23.0  19
24  10882            Muskan Khan     18.0    18  22.0  22.0  24.0  25
25  10439          Osheen Rikhta     12.0    12  19.0  19.0  23.0  17
26  10897         Parisha Thakur      NaN    23  23.0  23.0  19.0  21
27  10925          Priyal Sareen     24.0    24  23.0  23.0  25.0  21
28  12856        Puranjay Sharma     22.0    22  24.0  24.0  24.0  21
29  12072               Ravinder     22.0    22  23.0  23.0  24.0  23
30  13959      Rudrani Choudhary     24.0    24  24.0  24.0  25.0  21
31  13244      Sai Rudraksh Rana     25.0    25  23.0  23.0  24.0  22
32  12967          Saiyam Dharma     18.0    18  17.0  17.0  23.0  19
33  10445        Saksham Mahawer     10.0    10  15.0  15.0  16.0  18
34  12990                   Sara     25.0    25  25.0  25.0  25.0  24
35  11386       Shambhavi Sharma     18.0    18  22.0  22.0  25.0  19
36  10920           Shivam Midha     25.0    25  23.0  23.0  25.0  24
37  13938            Sima Kumari     25.0    25  16.0  16.0  25.0  22
38  11387    Sivesh Kumar Khapra     23.0    23  22.0  22.0  22.0  20
39  11570   Sushank Singh Rangta     20.0    20  21.0  21.0  22.0  21
40  11569   Sushant Singh Rangta     19.0    19  24.0  24.0  22.0  23
41  14002          Vaani Kataria     25.0    25  24.0  24.0  25.0  25
42  11756           Vamika Nigam     25.0    25  22.0  22.0  25.0  22
43  10452          Vernika Gupta     20.0    20  22.0  22.0  22.0  22
44  14221       Deivik Chaurasia     10.0    10  14.0  14.0  17.0  16